<%= page_title("Edit Orders") %>

<% @turn = params[:turn].to_i %>
<% @game = @order.squadrons_ship.squadron.game %>

<%= render "shared/game_header" %>

<p>Ship: <%= @order.squadrons_ship.name %><p>

<table>
<tr>
  <th>Turn</th>
  <th>Orders</th>
</tr>

<% @game.turn.downto(1).each do |t| %>
  <tr class="<%= t % 2 == 0 ? 'even' : 'odd' %>">
    <td><%= t %></td>
    <td>
      <% if @turn == t %>
        <%= form_for @order do |f| %>
          <%= f.text_field :order_text %>
          <%= hidden_field :user_id, @current_user.id %>
          <%= f.submit "Update" %>
        <% end %>
      <% else %>
        <%= @order.squadrons_ship.find_turn_orders(t) %>
      <% end %>
    </td>
  </tr>
<% end %>

</table>

<p><%= link_to "Back to Game", game_path(@game) %></p>
