<% @turn = params[:turn].to_i %>
<% @game = @order.squadrons_ship.squadron.game %>

Game: <%= @game.name %><br>
Ship: <%= @order.squadrons_ship.name %><br>

<table>
<tr>
  <td>Turn</td>
  <td>Orders</td>
</tr>
<% @turn.to_i.downto(1).each do |t| %>
  <tr>
    <td>Turn <%= t %></td>
    <td>
      <% if @turn == t %>
        <%= form_for @order do |f| %>
          <%= f.text_field :order_text %>
          <%= hidden_field :user_id, @current_user.id %>
          <%= f.submit "Update" %>
        <% end %>
      <% else %>
        <%= @order.squadrons_ship.find_turn_orders(t) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to "Back to Game", game_path(@game) %>
