<% @date_opts_hash = {} %>
<% @date_opts_hash[:use_month_numbers] = true %>
<% @date_opts_hash[:start_year       ] = Time.now.year %>
<% @date_opts_hash[:end_year         ] = Time.now.year + 1 %>

<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <% if edit_mode == :create %>
      <%= f.label :scenario, "Scenario" %><br />
      <%= collection_select(:game, :scenario_id, Scenario.all, :id, :name) %>
    <% else %>
      Scenario<br />
      <%= @game.scenario.name %>
    <% end %>
    </div>

  <div class="field">
    <%= f.label :turn %><br />
    <%= f.text_field :turn %>
  </div>

  <div class="field">
    <%= f.label :deadline %><br />
    <%= f.datetime_select :deadline, @date_opts_hash %> UTC
  </div>

  <div class="field">
    <%= f.label :deadline_type %><br />
    <%= collection_select(:game, :deadline_type_id, DeadlineType.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
