<table>
<tr>
  <th>Name</th>
  <th>Turn</th>
  <th>Next Step</th>
  <th>Deadline</th>
  <th>Side 1 Status</th>
  <th>Side 2 Status</th>
  <th>Actions</th>
</tr>

<% games.each_with_index do |game, rnum| %>
  <tr class="<%= rnum % 2 == 0 ? 'odd' : 'even' %>">
    <td><%= link_to game.name, game_path(game) %></td>
    <td align="right"><%= game.turn %></td>
    <td><%= game.deadline_type.name %></td>
    <td><%= game.deadline.to_s(:dpt_std) %></td>
    <td>
      <%= game.side1 %>
      0
      /
    </td>
    <td>
      <%= game.side2 %>
      0
      /
    </td>
    <td>
      <% if user_signed_in? && game.created_by == @current_user.id %>
        <%= link_to 'Delete', game, :confirm => "Are you sure you want to delete " + game.name + "?", :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>

</table>
