<% squadrons.each do |sq| %>
  <tr class="squadronName"><td colspan="3"><%= sq.name %></td></tr>
  <% sq.squadrons_ships.each do |ss| %>

    <% @cur_orders = ss.find_turn_orders(ss.squadron.game.turn) %>

    <tr>
      <td><%= ss.name %></td>
      <td>
        <% if ss.user_id == @current_user.id %><%# this is your ship; eventually should handle Admiral, CinC %>

          <% if @cur_orders.nil? %>

            <%= link_to "Enter Orders", edit_order_path, :turn => ss.squadron.game.turn %>
          
          <% else %>

            <%= link_to @cur_orders.order_text, orders_path(nil, :ss_id => ss.id, :turn => ss.squadron.game.turn) %>

          <% end %>

        <% else %><%# this isn't your ship %>

          <% if @cur_orders.nil? %>

            No Orders

          <% else %>

            Orders Entered

          <% end %>

        <% end %>
      </td>
      <td>
        <%= link_to "Review Orders", orders_path(ss, :id => ss.id) %>
      </td>
    </tr>
  <% end %>
<% end %>
