<% squadrons.each do |sq| %>
  <tr class="squadronName">
    <td><%= sq.name %></td>
    <td><%= render :partial => "shared/username_with_email", :locals => { :user => sq.user } %></td>
    <td></td>
    <td></td>
  </tr>
  <% sq.squadrons_ships.each_with_index do |ss, i| %>

    <% @cur_orders = ss.find_turn_orders(ss.squadron.game.turn) %>
    <% @my_ss = user_signed_in? && ss.user_id == @current_user.id %>

    <tr class="<%= @my_ss ? 'curUserSsRow' : i % 2 == 0 ? 'odd' : 'even' %>">
      <td><%= ss.name %></td>
      <td><%= render :partial => "shared/username_with_email", :locals => { :user => ss.user } %></td>
      <td>
        <% if user_signed_in? && ss.user_id == @current_user.id %><%# this is your ship; eventually should handle Admiral, CinC %>

          <% if @cur_orders.nil? %>

            <%= link_to "Enter Orders", new_order_path(:ss_id => ss.id, :turn => ss.squadron.game.turn) %>
          
          <% else %>

            <%= link_to @cur_orders.order_text, edit_order_path(@cur_orders, :ss_id => ss.id, :turn => ss.squadron.game.turn) %>

          <% end %>

        <% else %><%# this isn't your ship %>

          <% if @cur_orders.nil? %>

            No Orders

          <% else %>

            Orders Entered

          <% end %>

        <% end %>
      </td>
      <td>
        <%= link_to "Review Orders", orders_path(:ss_id => ss.id) %>
      </td>
    </tr>
  <% end %>
<% end %>
