<h1>Listing games</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Scenario</th>
    <th>Turn</th>
    <th>Deadline</th>
    <th>Deadline type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.name %></td>
    <td><%= game.scenario.name %></td>
    <td><%= game.turn %></td>
    <td><%= game.deadline.to_s(:dpt_std) %></td>
    <td><%= game.deadline_type.name %></td>
    <td><%= game.sides[0].name %></td>
    <td><%= game.sides[1].name %></td>
    <% if game.user_is_role(@current_user, Role::GAME_ADMIN) %>
      <td><%= link_to 'Edit', edit_game_path(game) %></td>
      <td><%= link_to 'Delete', game, :confirm => "Are you sure you want to delete " + game.name + "?", :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if user_signed_in? %>
  <%= link_to 'New Game', new_game_path %>
<% end %>
