<p id="notice"><%= notice %></p>

<div>
  <b>Name:</b>
  <%= @game.name %>
  <br>

  <b>Turn:</b>
  <%= @game.turn %>
  <br>

  <b>Deadline:</b>
  <%= @game.deadline %>
  <br>

  <b>Deadline type:</b>
  <%= @game.deadline_type.name %>
</div>

<table>
  <tr class="sideName"><td colspan="2"><%= @game.side1 %></td></tr>
  <%= render :partial => "squadrons", :locals => { :squadrons => @game.squadrons_by_side(@game.side1) } %>

  <tr class="sideName"><td colspan="2"><%= @game.side2 %></td></tr><br>
  <%= render :partial => "squadrons", :locals => { :squadrons => @game.squadrons_by_side(@game.side2) } %>
</table>


<%= link_to 'Back', games_path %>
