= page_title "Game Details"

= render "shared/game_header"

%p

%table
  %tr.sideName
    %td
      = @game.side1
    %td
      = render :partial => "shared/username_with_email", :locals => { :user => @game.side1_cinc_user }
    %td
    %td

  = render :partial => "squadrons", :locals => { :squadrons => @game.squadrons_by_side(@game.side1) }

  %tr
    %td{:colspan => 3} &nbsp;

  %tr.sideName
    %td
      = @game.side2
    %td
      = render :partial => "shared/username_with_email", :locals => { :user => @game.side2_cinc_user }
    %td
    %td

  = render :partial => "squadrons", :locals => { :squadrons => @game.squadrons_by_side(@game.side2) }

= link_to 'Back', games_path
