<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<p>
  <b>Turn:</b>
  <%= @game.turn %>
</p>

<p>
  <b>Deadline:</b>
  <%= @game.deadline %>
</p>

<p>
  <b>Deadline type:</b>
  <%= @game.deadline_type.name %>
</p>

<p>
  <b><%= @game.sides[0].name %></b>
</p>

<p>
  <b><%= @game.sides[1].name %></b>
</p>


<%= link_to 'Back', games_path %>
