<p id="notice"><%= notice %></p>

<%= render "shared/game_header" %>

<table>
  <tr class="sideName"><td colspan="3"><%= @game.side1 %></td></tr>
  <%= render :partial => "squadrons", :locals => { :squadrons => @game.squadrons_by_side(@game.side1) } %>

  <tr class="sideName"><td colspan="3"><%= @game.side2 %></td></tr><br>
  <%= render :partial => "squadrons", :locals => { :squadrons => @game.squadrons_by_side(@game.side2) } %>
</table>


<%= link_to 'Back', games_path %>
